.welcomeImg {
  width: 100%;
  height: 100vh;

}

.ripleyLogo {
  width: 200px;
}

.underlined-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  box-shadow: none;
}

.actionButton {
  border-color: #f8414b;
  background-color: #f8414b;
}

.returnButton {
  border-color: #573881;
  background-color: #573881;
}

.form-text {
  height: 18px;
}

.error-container {
  height: 20px;
}

.card {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
