<div class="row">
  <div class="col-4">
    <img class="welcomeImg" src="../../../assets/img/image-welcome.11dce2f146529c9fe829.png">
  </div>
  <div class="col d-flex flex-column">
    <div class=" row">
      <img class="ripleyLogo m-4" src="../../../assets/svg/Ripley.svg">
    </div>
    <div class="row justify-content-center my-auto">
      <div class="card text-center w-50 mx-auto">
        <div class="card-body">
          <h5 class="card-title">Simula tu crédito aquí</h5>
          <div *ngIf="displayMessage; else formTemplate">
            <div class="mt-5">
              <p>{{ displayMessage }}</p>
            </div>
          </div>
          <ng-template #formTemplate>
            <form [formGroup]="simulationForm">
              <div class="row mt-3">
                <div class="col">
                  <input formControlName="RutCliente" type="text" class="form-control underlined-input"
                    placeholder="Ingrese su rut">
                </div>
                <div class="error-container">
                  <span class="form-text text-danger" *ngIf="validField('RutCliente')">
                    Ingrese un rut válido
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col mt-3">
                  <input formControlName="MontoDelCredito" type="number" class="form-control underlined-input"
                    placeholder="Ingrese monto del crédito">
                </div>
                <div class="error-container">
                  <span class="form-text text-danger" *ngIf="validField('MontoDelCredito')">
                    Ingrese un valor numérico entre 100000 y 999999999
                  </span>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col">
                  <input formControlName="NumeroCuotas" type="number" class="form-control underlined-input"
                    placeholder="Ingrese cantidad de cuotas">
                </div>
                <div class="error-container">
                  <span class="form-text text-danger" *ngIf="validField('NumeroCuotas')">
                    Ingrese una cantidad de cuotas entre 3 y 60
                  </span>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
        <div class="button-container mb-5" (click)="simulateCredit()">
          <button *ngIf="!displayMessage" type="submit" class="actionButton btn btn-primary">Simular</button>
          <button *ngIf="displayMessage" class="btn btn-primary returnButton" (click)="reset()">Volver</button>
        </div>

      </div>


    </div>
  </div>
</div>
